@font-face {
    font-family: "NanumSquareNeo" !important;
    font-style: normal;
    font-weight: 100;
    src: url("./NanumSquareNeo-aLt.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "NanumSquareNeo"!important;
    font-style: normal;
    font-weight: normal;
    src: url("./NanumSquareNeo-bRg.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "NanumSquareNeo"!important;
    font-style: normal;
    font-weight: 500;
    src: url("./NanumSquareNeo-cBd.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "NanumSquareNeo"!important;
    font-style: normal;
    font-weight: lighter;
    src: url("./NanumSquareNeo-dEb.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "NanumSquareNeo"!important;
    font-style: normal;
    font-weight: bold;
    src: url("./NanumSquareNeo-eHv.ttf") format("ttf");
  }