.connection {
    width: 767px;
    height: 767px;
    border-radius: 40px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    /* 추가적인 스타일 지정 */
}