

.slide {
    box-sizing: border-box;
    border: 2px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #50508C;
    border-radius: 5px;
    transition: all 0.3s ease;
    overflow: hidden;
    height: 15.5vw;
    text-align: center;
}
.container {
    width: 80%;  /* or any other percentage or fixed value you prefer */
    margin: auto;
}


.slide:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.slide h3 {
    margin-bottom: 10px;
}

.addGoal {
    color: #007bff;
    cursor: pointer;
    text-align: center;
}

.addGoal:hover {
    text-decoration: underline;
}

.create-goal-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.create-goal-button:hover {
    background-color: #0056b3;
}