.slide {
  box-sizing: border-box;
  border: 2px solid #ddd;
  padding: 50px;
  margin: 50px 0px;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7691f6;
  border-radius: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
  height: 400px;
  text-align: center;
}

.mukho {
  width: 80% !important;
}

.muk {
  border: none !important;
  background-color: rgb(240, 240, 240) !important;
  opacity: 0.8 !important;
}

.slide:hover {
  background-color: #172b4d;
}

.slide h3 {
  margin: 0;
  font-size: 18px;
  color: #f0f0f0;
}
.slide h2 {
  margin: 0;
  color: #f0f0f0;
}

.slide:hover h3 {
  color: #f0f0f0;
}

.slide:hover h2 {
  color: #f0f0f0;
}

.slide p {
  margin: 0;
  font-size: 14px;
}

.bookmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: -30px;
  left: -30px;
  border: 2px solid #000000;
}

.ho {
  top: -150px;
}

.track-vertical {
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.111);
}
.thumb-vertical {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(123, 154, 255, 0.418);
}



.track-horizontal {
  position: absolute;
  height: 6px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 3px;
}

  .thumb-horizontal {
      position: relative;
      display: block;
      height: 100%;
      cursor: pointer;
      border-radius: inherit;
      background-color: rgba(125, 149, 255, 0.993);
  }


.view {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
  margin-right: -15px;
  margin-bottom: -17px !important; 
}

.ho2 {
  top: -175px;
}

.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.modal-outer {
  overflow: hidden;
  border-radius: 15px;
}

